name: Check code base

on:
  - push
  - pull_request

permissions: {}

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      this: ${{steps.changes.outputs.this}}
      typescript: ${{steps.changes.outputs.typescript}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            this:
              - ./.github/workflows/check.yml
            typescript:
              - ./**/*.ts
              - package.json
              - pnpm-lock.yaml
              - tsconfig.json
              - biome.json
  check-code:
    needs: path-filter
    if: needs.path-filter.outputs.this == 'true' || needs.path-filter.outputs.typescript == 'true'
    runs-on: ubuntu-latest
    permissions: {}
    strategy:
      matrix:
        node: ["lts/*"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node.js ${{ matrix.node }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
      - name: Show versions
        run: |
          node --version
          pnpm --version
      - run: pnpm install
      - name: Run checker
        run: pnpm run check
  status-check:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs:
      - check-code
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
